.gains {
  padding-bottom: 48px;
  position: relative;
  top: -130px;
  margin-bottom: -130px;

  @media (max-width: 767px) {
    top: -30px;
    margin-bottom: -30px;
    padding-bottom: 30px;
  }
}

.gains__list {
  @include reset-list;
  display: flex;
  justify-content: center;
  gap: 32px;
  flex-wrap: wrap;
}

.gains__item {
  @include max-width(448px);
  background: #ffffff;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.12);
  border-radius: 2px;
  min-height: 264px;
  padding-left: 53px;
  padding-right: 53px;
  padding-bottom: 20px;
  padding-top: 110px;
  position: relative;

  @media (max-width: 1450px) {
    margin-bottom: 45px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  @media (max-width: 575px) {
    padding-left: 10px;
    padding-right: 10px;
    font-size: 20px;
  }

  &:nth-child(1) {
    padding-top: 147px;

    .gains__icon {
      background-image: url('/src/img/icons/gains/1.png');
    }
  }
  &:nth-child(2) {
    padding-top: 141px;

    .gains__icon {
      background-image: url('/src/img/icons/gains/2.png');
    }
  }
  &:nth-child(3) {
    .gains__icon {
      background-image: url('/src/img/icons/gains/3.png');
    }
  }
}

.gains__icon {
  width: 152px;
  height: 152px;
  border: 3px solid #fade40;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.12);
  background-color: white;
  background-repeat: no-repeat;
  background-position: center center;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -56px;
}

.gains__text {
  @include main;
  text-align: center;
  margin-bottom: 0;

  @media (max-width: 575px) {
    font-size: 20px;
  }

  span {
    border-radius: 5px;
    padding-left: 5px;
    padding-right: 5px;
    font-weight: bold;
    background: #fade40;
  }

  span::selection {
    background: #fade40;
  }

  span::-moz-selection {
    background: #fade40;
  }
}
