@mixin bg {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

@mixin reset-btn {
  padding: 0;
  background-color: transparent;
  border: 0;
  color: inherit;
  outline: none;

  &:focus {
    outline: none;
  }
}

@mixin reset-list {
  padding: 0;
  list-style: none;
  margin-bottom: 0;
}

@mixin max-width($width) {
  width: 100%;
  max-width: $width;
}

@mixin central-align {
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
}

@mixin title-main {
  font-weight: 500;
  font-size: 54px;
  line-height: 1.11;
}

@mixin title {
  font-weight: 500;
  font-size: 44px;
  line-height: 1.23;

  @media (max-width: 575px) {
    font-size: 27px;
  }
}

@mixin subtitle-bold {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.5;
}

@mixin subtitle {
  font-weight: 400;
  font-size: 28px;
  line-height: 1.5;

  @media (max-width: 575px) {
    font-size: 20px;
  }
}

@mixin main {
  font-weight: 400;
  font-size: 22px;
  line-height: 1.45;
}

@mixin main-bold {
  font-weight: 700;
  font-size: 22px;
  line-height: 1.45;
}

@mixin highlight {
  border-radius: 5px;
  padding-left: 5px;
  padding-right: 5px;
  background: #fade40;

  &::selection {
    background: #fade40;
  }

  &::-moz-selection {
    background: #fade40;
  }
}