$red: #ca3234;
$black: #0A0A0A;
$grey: #EEEEED;
$yellow: #FADE40;
$orange-gradient: linear-gradient(180deg, #FFA665 0%, #FC4F19 100%);
$yellow-gtadient: linear-gradient(180deg, #FADE40 0%, #FFC700 100%);
$black-gradient: linear-gradient(180deg, #494949 0%, #0A0A0A 100%);
