@import './lib/reboot.scss';
@import './lib/fonts.scss';
@import './base/variables.scss';
@import './base/mixins.scss';
@import './base/global.scss';
@import './components/modal.scss';
@import './components/priv-policy.scss';
@import './components/header.scss';
@import './components/button.scss';
@import './components/footer.scss';

.thanks {
  padding-top: 30px;
  padding-bottom: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.thanks__video-wrapper {
  width: 100%;
  height: 100%;
  display: block;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: fixed;
  overflow: hidden;
  z-index: -2;
}

.thanks__dark-bg {
  width: 100%;
  height: 100%;
  display: block;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: fixed;
  overflow: hidden;
  z-index: -1;
  background-color: rgba($black, 0.5);
}

.thanks__video-bg {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 0;
  position: absolute;
  width: auto;
  height: auto;
  min-width: 100%;
  min-height: 100%;
}

.thanks__title {
  @include max-width(928px);
  margin-left: auto;
  margin-right: auto;
  @include title-main;
  text-align: center;
  color: white;
  margin-bottom: 32px;

  span {
    color: $yellow;
  }

  @media (max-width: 767px) {
    font-size: 42px;
  }

  @media (max-width: 575px) {
    font-size: 24px;
  }
}

.thanks__text {
  @include subtitle-bold;
  margin-bottom: 48px;
  text-align: center;
  color: white;

  @media (max-width: 767px) {
    font-size: 28px;
  }

  @media (max-width: 575px) {
    font-size: 18px;
  }
}

.thanks__link {
  &:focus,
  &:active,
  &:hover {
    text-decoration: none;
  }
}
